@using FootballLeagueManager.Models.ViewModels.Home
@model List<LeagueViewModel>

@{
    ViewData["Title"] = "Strona główna";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home/index.css">
}

<section id="homePage">
    <div class="container">
        <div class="row">
            @foreach(var league in Model)
            {
                @await Html.PartialAsync("~/Views/Home/_Card.cshtml", league);
            }
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/home/index.js"></script>
}
