@using FootballLeagueManager.Models.ViewModels.Home
@model LeagueTablesViewModel

@{
    ViewData["Title"] = "Strona główna";
}

@foreach (var league in Model.Leagues)
{
    <p>@league.Name</p>
}

@foreach (var match in Model.Matches)
{
    <p>@match.Date</p>
}

@foreach (var team in Model.Teams)
{
    <p>@team.Name</p>
}
